/*Global*/
body {
    margin: 0;
    padding: 0;
}

#checkout {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3em;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: black;
}

.shop-now-button {
    display: block;
    border: 2px solid black;
    padding: 0.75em 1em 0.75em 1em;
    text-align: center;
}

input {
    display: block;
}

#checkout #account-info-form select  {
    background-color: white;
    border: none;
    width: 100%;
    padding: 2em;
} 

#checkout #payment-info-form select  {
    background-color: white;
    border: none;
    width: 100%;
    padding: 0.30em;
} 

/*Checkout Form Styles*/

.form-section {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

/*Account Info Form*/

#form #account-info-form {
    margin-right: 2em;
    align-content: space-between;
}

#form #payment-info-form {
    margin-left: 2em;
}

/* .form-section #account-info-form input {
    width: 100%;
    padding: 0.75em;
    border: none;
    border-bottom: 1px solid rgb(184, 180, 180);
}
.form-section #payment-info-form input {
    width: 100%;
    padding: 0.75em;
    border: none;
    border-bottom: 1px solid rgb(184, 180, 180);
} */
/* 
.form-area input {
    width: 80%;
} */

.form-area {
    display: flex;
    flex-direction: row;
}

.form-card-expiry {
    display: flex;

}

/*Payment Form Styles*/

