/*Global*/

body {
    margin: 0;
    padding: 0;
}

#item-preview-page {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3em;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: black;
}

#cart-footer {
    display: none;
}

/*Header Styles*/

#item-preview-page #header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#item-preview-page .title h1 {
    font-size: 1em;
    margin-top: 1em;
}

#item-preview-page .cart {
    text-align: end;
    margin-right: 1em;
}

#item-preview-page .cart .cart-icon {
    width: 25px;
    height: auto;
    text-align: end;
    margin-top: 1em;
}

#item-preview-page .back-icon img {
    width: 25px;
    height: auto;
    text-align: end;
    margin-top: 1em;
    margin-left: 0.75em;
}

#item-preview-page .title {
    text-align: center;
}

/*Navigation Styles*/

#nav-bar {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    margin: auto;
}

#nav-bar a {
    text-align: center;
}


/*Item Preview Styles*/

#item-preview-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    color: gray;
}

#item-preview-container .item-image {
    margin: 0 0 0 3em;
    width: 100%;
}

#item-preview-container .item-image img{
    width: 100%;
    height: auto;
}


/*Item Description Section*/

#item-preview-container .item-description {
    margin: 0 auto;
    width: 60%;
}

.item-dropdown {
    margin-top: 2.5em;
}

.item-dropdown select {
    width: 85%;
    border: 0;
    background: white;
    padding: 1em;
    font-size: 1em;
}

#item-preview-container .item-info {
    font-size: 1em;
}

#item-preview-container .item-info p, ul{
    font-size: 0.90em;
}
li {
    margin-top: 0.30em;
}

.add-to-cart-button {
    display: block;
    border: 2px solid black;
    padding: 0.6em 1em 0.6em 1em;
    margin-top: 2em;
    text-align: center;
    width: 40%;
}

label {
    font-size: 0.85em;
}

/*Items Font Colors*/ 

.item-description h3 {
    color: black;
}

.item-info h4, h5 {
    color: black;
}


/*Item Size And Quantity*/ 

.item-size {
    display:grid;
    grid-template-columns: 1fr 5fr;
    justify-self: center;
    border-top: 1px solid rgb(184, 180, 180);
    border-bottom: 1px solid rgb(184, 180, 180);
}

.item-size .labels {
    display:grid;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-items: center;
    font-size: 1.25em;
}

.item-size .labels .first-border {
    border-bottom: 1px solid rgb(184, 180, 180);
    padding: 0.87em;
}

.item-size .label-values .second-border {
    border-bottom: 1px solid rgb(184, 180, 180);
}
 
.item-size select {
    width: 100%;
    margin-left: 0;
}



/*Media Queries*/

/*Medium Sized Screens*/

@media screen and (max-width: 1024px) and (min-width: 768px) {

    #item-preview-container .item-description {
        margin: auto;
        width: 90%;
    }

    #item-preview-container .item-image {
        margin: 0 0 0 1.5em;
    }
}

/*Small Screens*/

@media screen and (max-width: 768px) {

    #nav-bar {
        display: none;
    }

    #item-preview-container {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr; 
        color: gray;
    }

    #item-preview-container .item-image {
        margin: 0;
        width: 100%;
    }

    #cart-footer {
        display: block;
        position: fixed;
        width: 100%;
        background-color: rgb(28, 28, 78);
        bottom: 0;
        text-align: center;
        color: white; 
        font-size: 1.25em;
    }

    .add-to-cart-button {
        display: none;
    }
}
