/*Global*/
body {
    margin: 0;
    padding: 0;
}

#home-page {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3em;
    margin-bottom: 3em;
}

a {
    text-decoration: none;
    color: black;
}

.shop-now-button {
    display: block;
    border: 2px solid black;
    padding: 0.75em 1em 0.75em 1em;
    text-align: center;
}

.main-images {
    height: 300px;
    width: 100%;
    background-image: url('../images/mens_outerwear.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

h2 {
    font-weight: lighter;
}

/*Header Section*/

#header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

#header .back-icon img {
    width: 25px;
    height: auto;
    text-align: end;
    margin-top: 1em;
    margin-left: 0.75em;
    display: none;
}

#header .title {
    text-align: center;
}

#header .title h1 {
    font-size: 1em;
    margin-top: 1em;
}

#header .cart {
    text-align: end;
    margin-right: 1em;
}

#header .cart .cart-icon {
    width: 25px;
    height: auto;
    text-align: end;
    margin-top: 1em;
}

/*Navigation Section*/ 

#nav-bar {
    display: grid;
    grid-template-columns: repeat(4, 10%);
    justify-content: center;
}

#nav-bar a {
    text-align: center;
}

/*Men's Outerwear*/

#mens-outerwear {
    display: grid;
}

#mens-outerwear .shop-now {
    justify-self: center;
}

/*Ladies Outerwear*/

#ladies-outerwear {
    display: grid;
}

#ladies-outerwear .shop-now {
    justify-self: center;
}

/*Men's And Ladies T-Shirts Section*/

#tshirts {
    display: grid;
    grid-template-columns: 50% 50%;
}

#mens-tshirts {
    display: grid;
}

#ladies-tshirts {
    display: grid;
}

.shop-now {
    justify-self: center;
}

#tshirts .main-images img{
    width: 100%;
    height: 300px;
}


/*Media Queries*/

/*Medium Sized Screens*/

@media screen and (max-width: 1024px) and (min-width: 768px) {
    /*Navigation Section*/ 

    #nav-bar {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        justify-content: center;
        font-size: 0.90em;
    }

    #nav-bar a {
        text-align: center;
    }
}

/*Small Screens*/

@media screen and (max-width: 768px) {
    
    /*Navigation Section*/ 

    #nav-bar {
        display: grid;
        grid-template-columns: repeat(4, 20%);
        font-size: 0.75em;
    }

    #nav-bar a {
        text-align: center;
    }


}

@media screen and (max-width: 480px) {
    
    /*Navigation Section*/ 

    #nav-bar {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        font-size: 0.75em;
    }
}